#image{
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
}
#img-caption{
    font-size: 15px;
    color: rgb(21, 73, 21);
}
.center{
    display: block;
    text-align: center;
    height: auto;
}
            
